.footer {
  background: black;
  color: #ffffff;
  &_title {
    position: relative;
    border: 1.2px solid #ffffff;
    border-radius: 2px;
    font-weight: 300;
    width: 82px;
    height: 53px;
    text-align: center;
    @extend %flexforitem;
    font-size: 19.0145px;
    line-height: 120%;
  }

  &__menu {
    @extend %flexforitem;
    padding-left: 118px;
  }
}

.footerwrapper {
  width: 1160px;
  padding-top: 39px;
}
.top-part {
  display: flex;
  justify-content: space-between;
}

.subscribe-part {
  width: 366px;
  &_title {
    font-size: 24px;
    line-height: 120%;
    font-weight: 300;
    margin-bottom: 14px;
    letter-spacing: 0.1px;
    padding-top: 1px;
  }

  &_submit {
    display: flex;
  }
}
.submit-email {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  border: 1px solid #333b41;
  border-radius: 5px;
  line-height: 140%;
  color: #000000;
  font-size: 16px;
}
.submit-email:active {
  color: #4b9200;
  border: 1px solid #4b9200;
}

.user-email-input {
  background: #111115;
  border-radius: 2px;
  border: 0.5px solid #f9804b;
  width: 228px;
  height: 42px;
  padding: 9px;
  font-weight: 500;
  color: #bdbdbd;
  font-size: 16px;
  margin-right: 10px;
}
.footerbtn-type-two {
  margin-top: 36px;
  margin-bottom: 44px;
}
.bottom-footer-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
}
.social {
  &__container {
    display: flex;
    margin-bottom: 10px;
  }
  &_icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  &__item {
    line-height: 130%;
    align-self: end;
    font-weight: 300;
  }
}
.social__container:active {
  color: #4b9200;
  .social_icon {
    background: #4b9200;
  }
}

.footer-nav {
  &_item {
    margin: 9px 29px;
    line-height: 140%;
    font-weight: 300;
  }
}

.disigned-by {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  padding-bottom: 10px;

  &__school {
    margin-top: 10px;
  }
}

.popup {
  display: none;
}
