.header {
  background: #111115;
  height: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  &__logo {
    width: 82px;
    height: 52px;
    @extend %flexforitem;
    font-size: 19.0145px;
    line-height: 120%;

    text-align: center;
    border: 1.18841px solid #ffffff;
    position: relative;
    transition: all 0.3s linear;
  }
}
h1 {
  height: 44.91px;
}
.logo_icon {
  position: absolute;
  left: 8.53px;
  bottom: 7.69px;
}
.orange {
  color: #f9804b;
}

.headerwrapper {
  @extend %flexforitem;
  height: 80px;

  color: #ffffff;
  width: 100%;

  padding-left: calc(220 / 1600 * 100%);
  padding-right: calc(220 / 1600 * 100%);
}
.header-row {
  @extend %flexforitem;
}
.header_menu {
  @extend %flexforitem;
}
.nav {
  margin-left: 63px;
  width: 472px;
}

.nav_link {
  font-weight: 400;
  line-height: 140%;
  transition: all 0.3s linear;
}

.designedby {
  line-height: 140%;
  font-weight: 500;
  transition: all 0.3s linear;
}
.nav_link:hover {
  color: #f9804b;
}
.designedby:hover {
  color: #f9804b;
}
