@media (max-width: 1599px) {
  /*-----backstage------*/

  .backstageflower {
    display: none;
  }

  /*-----pets------*/

  .pets__item {
    width: 294px;
    height: 354px;

    &:hover .pets__item_name {
      transform: translate(30px -160px);
    }

    &_info {
      top: -62px;
    }

    &_poto {
      width: 294px;
      height: 354px;
      & img {
        width: 294px;
        height: 294px;
      }
    }
  }

  .pets__items {
    height: 801px;
    row-gap: 92px;
  }

  .prew {
    top: 40.15%;
    left: 353px;
  }

  .next {
    top: 40.15%;
    right: 352px;
  }
}

@media (max-width: 1179px) {
  /*-----------header------*/

  .nav {
    width: 430px;
  }

  .headerwrapper {
    padding: 0 30px;
  }

  /*------watchonline-----*/
  .watchonline {
    height: 584px;

    &_btn {
      left: calc(50% - 298px / 2 + 214px);
      top: 483px;
    }
  }

  .watchonlinetext {
    font-size: 85px;
    left: unset;
    right: 35.75px;
    top: 123.8px;
  }

  .orangeelipse {
    width: 367px;
    height: 367px;
    top: 69px;
    right: 177px;
    left: unset;
  }

  /*-----backstage------*/
  .backstagewrapper {
    padding-top: 102px;
  }

  .backstagerow {
    padding: 0 30px;
  }

  .backstage {
    height: 563px;

    &__textcontent {
      height: 408px;
      width: 454px;

      &_texttwo {
        line-height: 139%;
      }
    }

    &_picture {
      width: 455px;
      height: 408px;
      padding-top: 11px;

      img {
        height: 408px;
        object-fit: cover;
      }
    }
  }

  /*-----pets------*/
  .petswrapper {
    padding-left: 30px;
    padding-right: 30px;
    height: 1182px;
  }

  .pets {
    &__item_info {
      padding-left: 15px;
      padding-bottom: 1px;
    }

    &_btn {
      margin-top: 80px;
    }
  }

  .banan {
    padding-right: 12px;
    padding-bottom: 2px;
  }

  .sloth {
    display: none;
  }

  .aligator {
    display: block;
  }

  .bottom-right {
    width: 241px;
    height: 180px;
    img {
      width: 241px;
      height: 180px;
    }
  }

  .bottom-left {
    width: 194px;
    height: 202px;
    img {
      width: 194px;
      height: 202px;
    }
  }

  .smalldesktop-leaf {
    display: block;
  }

  .desktop-leaf {
    display: none;
  }

  /*-----pick------*/

  .pick {
    padding-top: 30px;
    height: 876px;

    &__row {
      padding: 0 48px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    &__warningifo {
      width: 815px;
    }

    &__text {
      width: auto;
      margin-bottom: 40px;
      line-height: 131%;
    }

    &__items {
      padding-left: calc(45 / 940 * 100%);
      padding-right: calc(45 / 940 * 100%);
    }

    &_btn {
      margin-top: 69px;
    }
  }

  .arrow-one {
    left: 238px;
    top: 61px;
  }

  .arrow-two {
    left: 535px;
    top: 59px;
  }

  .donate::after {
    left: 2px;
    bottom: -1px;
  }

  .pickwrapper {
    height: 796px;
    width: 940px;
    padding-top: 30px;
  }

  /*-----testimonials------*/

  .testimonialswrapper {
    padding: 100px 30px 0;
    width: 100%;
    height: 840px;
  }

  .testimonials-container {
    width: 940px;
    margin: 0 auto;
  }

  .testimonials {
    &__items {
      width: 3523px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__item {
      width: 293px;
    }

    &_scroll input[type="range"] {
      margin-left: 268px;
    }

    &_scroll input[type="range"]::-webkit-slider-thumb {
      width: 75px;
    }
  }

  .scrollfortes {
    width: 390px;
  }

  .btn-type-two {
    margin-top: 48px;
  }

  .leavfoto img {
    transform: scale(0.8);
  }

  .leavfoto {
    right: -25px;
    top: 560.52px;
  }

  /*-----footer------*/
  .footer {
    &__menu {
      padding-left: 91px;
      width: 423px;
    }
  }
  .footerwrapper {
    width: 100%;
    padding: 40px 30px 0;
  }

  .top-part {
    padding-right: 33px;
  }

  .footerbtn-type-two {
    margin-top: 37px;
  }

  .footer-nav_item {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bottom-footer-part {
    padding-right: 1px;
    padding-left: 1px;
  }

  .disigned-by {
    padding-bottom: 9px;
  }

  .subscribe-part_title {
    line-height: 122%;
  }

  /*-----donate------*/

  .friendwrapper {
    padding-bottom: 29px;
  }

  .panda-photo {
    background-position-x: 29%;
    height: 390px;
  }

  .friend {
    height: 100%;
    padding-top: 43px;

    &__title {
      width: 783px;
      text-align: left;
      margin-bottom: 27px;
      padding-left: 30px;
    }

    &__discription {
      text-align: start;
      width: 933px;
      width: 971px;
      padding-left: 30px;
    }

    &__subtitle {
      margin-bottom: 40px;
      padding-left: 30px;
    }

    &__row {
      padding-top: 19px;
      margin: 0 auto;
      height: 918px;
    }
    &__sub {
      padding-left: 47px;
      margin-bottom: 63px;
    }

    &__qntt {
      padding-right: 211.51px;
      padding-left: 196px;
    }
  }

  .friendrowtitle {
    margin-bottom: 10px;
    padding-right: 2px;
  }

  .donate-form {
    padding: 0 65px;
  }

  .kk {
    display: none;
  }

  .amount {
    margin-left: 0;

    &_price::after {
      width: 789px;
    }

    &_price {
      left: 0;
    }
  }

  .moneys span {
    position: relative;
    right: -20px;
  }

  .anotheramount label {
    left: 518px;
  }

  .monthlyonce {
    padding-left: 298px;
    margin-top: 26px;
  }

  .donatebtn {
    padding-left: 8px;
  }

  .monthly-once {
    margin-right: 52px;
  }

  .footer {
    &__logo {
      padding-top: 0px;

      &_icon {
        left: 10.53px;
        bottom: 7.69px;
      }
    }

    &__donatenav {
      padding-left: 118px;
      width: 450px;
    }
  }

  .social__container {
    margin-bottom: 9px;
  }

  .footer-nav_item {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .user-email-input {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
