/*fonts*/
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Lato:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:wght@400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ----templates-----*/

%flexforitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activelabel {
  color: #fe9013;
}

// Файл обнуляющих стилей
@import "_nullstyle";

.wrapper {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100%;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/*-------button style------*/
.btn {
  width: 298px;
  height: 54px;
  background: #fe9013;
  border-radius: 25px;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;

  padding-left: 5px;
}
.btn:hover {
  background: #e47209;
  transition: all 0.3s ease;
}
.btn:active {
  background: #4b9200;
  transition: all 0.3s ease;
}

.btn-type-two {
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  font-weight: 500;
  margin-top: 27px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
}
.btn-type-two:hover {
  background: #e47209;
}
.btn-type-two:active {
  background: #4b9200;
}

body.lock {
  overflow: hidden;
}

.corusel {
  max-width: 1160px;
  margin: 0 auto;
}

/*-----------header------*/
@import "_header";

/*------watchonline-----*/
@import "_watchonline";

/*-----backstage------*/
@import "_backstage";

/*-----pets------*/
@import "_pets";

/*-----pick------*/
@import "_pick";

/*-----testimonials------*/
@import "_testimonials";

/*-----footer------*/
@import "_footer";

/*-----donate------*/
@import "_donate";

/*---media---*/
@import "_media1200";

/*---media---*/
@import "_media992";

/*---media---*/
@import "_media639";

/*---media---*/
@import "_menuburger";

/*---slider animation---*/
@import "_slideranimation";
